<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Crud NodeJS + MongoDb</title>
</head>
<body>

    <h2>Cadastro de motoristas<h2>
    <form action="/save" method="POST">
        <input type="text" placeholder="Nome" name="name">
        <input type="text" placeholder="Cnh" name="driver_license">
        <button type="submit">Confirmar</button>
    </form> 

</body>
</html>